.light {
  background-color: #FFFFFF;
  color: #080707;
}

.dropdown {
  position: relative;
}

.dropdown:hover > .dropdown-content {
  display: block;
}

.dropdown-content {
  background-color: #FFFFFF;
  left: -.07rem;
  position: absolute;
  display: none;
  border: 0.5px solid #DDE4E4;
  text-align: left;
  z-index: 1;
  width: 102%;
}

.button {
  text-decoration: none;
  outline: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.2rem;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.button:hover {
  background-color: #D93838;
  color: #FFFFFF;
}

.button:focus {
  background-color: #D93838;
  color: #FFFFFF;
}

nav ul {
  list-style: none;
}

nav ul li {
  border: 0.5px solid #DDE4E4;
  border-radius: 0.2rem;
}

#hero-wrapper {
  background-color: #080707;
  color: #FFFFFF;
  -webkit-box-shadow: 0 0.2rem 20px #080707;
          box-shadow: 0 0.2rem 20px #080707;
}

footer {
  background-color: #080707;
  color: white;
  height: 80px;
}

header {
  height: 50px;
}

#content {
  min-height: calc(100vh-130px);
}

.star {
  fill: #080707;
  stroke: #FFFFFF;
}

.star-wrapper {
  z-index: -1;
  position: absolute;
  width: 300px;
  height: 300px;
  -webkit-animation: rotating 10s linear infinite;
          animation: rotating 10s linear infinite;
}

.outter-sbox {
  z-index: -2;
  -webkit-animation: shift 10s linear infinite;
          animation: shift 10s linear infinite;
}

#sw-1 {
  top: 0%;
  left: 0%;
}

#sw-2 {
  top: 20%;
  left: 20%;
}

#sw-3 {
  top: 50%;
  left: 50%;
}

@-webkit-keyframes shift {
  from {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  to {
    -webkit-transform: translateX(120%);
            transform: translateX(120%);
  }
}

@keyframes shift {
  from {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  to {
    -webkit-transform: translateX(120%);
            transform: translateX(120%);
  }
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#project-section-title {
  background-color: #080707;
  color: #FFFFFF;
  border-radius: 0.2rem;
  width: 25%;
  font-size: 4rem;
  -webkit-box-shadow: 0.045rem 0.045rem 1.8px rgba(8, 7, 7, 0.15), 0.234rem 0.234rem 5px rgba(8, 7, 7, 0.25), 0.56rem 0.56rem 12.1px rgba(8, 7, 7, 0.4), 1.875rem 1.875rem 40px rgba(8, 7, 7, 0.3);
          box-shadow: 0.045rem 0.045rem 1.8px rgba(8, 7, 7, 0.15), 0.234rem 0.234rem 5px rgba(8, 7, 7, 0.25), 0.56rem 0.56rem 12.1px rgba(8, 7, 7, 0.4), 1.875rem 1.875rem 40px rgba(8, 7, 7, 0.3);
}

#project-container {
  position: relative;
  overflow: hidden;
}

.projectCard {
  padding: 0 0 !important;
  height: 400px;
  background-color: #080707;
  border-radius: 0.2rem;
  color: #FFFFFF;
  -webkit-box-shadow: 0.045rem 0.045rem 1.8px rgba(8, 7, 7, 0.15), 0.234rem 0.234rem 5px rgba(8, 7, 7, 0.25), 0.56rem 0.56rem 12.1px rgba(8, 7, 7, 0.4), 1.875rem 1.875rem 40px rgba(8, 7, 7, 0.3);
          box-shadow: 0.045rem 0.045rem 1.8px rgba(8, 7, 7, 0.15), 0.234rem 0.234rem 5px rgba(8, 7, 7, 0.25), 0.56rem 0.56rem 12.1px rgba(8, 7, 7, 0.4), 1.875rem 1.875rem 40px rgba(8, 7, 7, 0.3);
  -webkit-transition: -webkit-box-shadow 0.5s ease-in;
  transition: -webkit-box-shadow 0.5s ease-in;
  transition: box-shadow 0.5s ease-in;
  transition: box-shadow 0.5s ease-in, -webkit-box-shadow 0.5s ease-in;
}

.projectCard:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.project-info {
  width: 100%;
  -webkit-box-shadow: 0.045rem 0.045rem 1.8px rgba(217, 56, 56, 0.15), 0.234rem 0.234rem 5px rgba(217, 56, 56, 0.25), 0.56rem 0.56rem 12.1px rgba(217, 56, 56, 0.4), 1.875rem 1.875rem 40px rgba(217, 56, 56, 0.3);
          box-shadow: 0.045rem 0.045rem 1.8px rgba(217, 56, 56, 0.15), 0.234rem 0.234rem 5px rgba(217, 56, 56, 0.25), 0.56rem 0.56rem 12.1px rgba(217, 56, 56, 0.4), 1.875rem 1.875rem 40px rgba(217, 56, 56, 0.3);
  border-radius: 0.2rem;
  -webkit-animation: loadin 0.5s linear forwards;
          animation: loadin 0.5s linear forwards;
}

.load-in {
  visibility: hidden;
  -webkit-animation: fontLoad 0.5s 0.5s linear forwards;
          animation: fontLoad 0.5s 0.5s linear forwards;
}

@-webkit-keyframes loadin {
  from {
    height: 0%;
    background-color: transparent;
  }
  to {
    height: 100%;
    background-color: #D93838;
  }
}

@keyframes loadin {
  from {
    height: 0%;
    background-color: transparent;
  }
  to {
    height: 100%;
    background-color: #D93838;
  }
}

@-webkit-keyframes fontLoad {
  from {
    visibility: visible;
    color: #D93838;
  }
  to {
    visibility: visible;
    color: #FFFFFF;
  }
}

@keyframes fontLoad {
  from {
    visibility: visible;
    color: #D93838;
  }
  to {
    visibility: visible;
    color: #FFFFFF;
  }
}

.project-icon {
  height: 100%;
  width: 100%;
  -webkit-animation: fadeIn 0.5s linear forwards;
          animation: fadeIn 0.5s linear forwards;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.icon-link {
  color: inherit;
}

.github-icon, .website-icon {
  fill: currentColor;
  width: 32px;
  height: 32px;
}

.github-icon:hover, .website-icon:hover {
  fill: #080707;
}

.st0 {
  stroke: #FFFFFF;
  stroke-width: 5;
}

.filling {
  fill: #D93838;
}

.steam {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 10;
  stroke-dasharray: 150;
  stroke-dashoffset: 300;
  animation: steam 3s linear reverse infinite;
}

@-webkit-keyframes steam {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes steam {
  to {
    stroke-dashoffset: 0;
  }
}

#coffee-wrapper {
  display: inline-block;
  width: 50px;
  height: 50px;
}
/*# sourceMappingURL=style.css.map */