$primary: #212121; 
$primary-accent: #3D3D3D;
$secondary: #DDE4E4;
$secondary-accent: #C6D2D2; 
$white-accent: #DDE4E4;
$accent:  #2C3940;
$warning: #baf2ef; 
$floating-box-shadow:
//   0.045rem 0.045rem 1.8px rgba($primary, 0.15),
//   0.234rem .234rem 5px rgba($primary, 0.25),
//   0.56rem 0.56rem 10px rgba($primary, 0.4);
0 2px 2px 0 rgba(0, 0, 0, 0.14), 
0 3px 1px -2px rgba(0, 0, 0, 0.2), 
0 1px 5px 0 rgba(0, 0, 0, 0.12);
$floating-box-shadow-red:
0 0.045rem 1.8px rgba(#6C8C9D, 0.15),
0 .234rem 5px rgba(#6C8C9D, 0.25),
0 0.56rem 12.1px rgba(#6C8C9D, 0.4),
0 1.875rem 40px rgba(#6C8C9D, 0.3);



@import "../node_modules/bootstrap/scss/bootstrap";

// utility classes

// .negative-margin {
//     margin-top: -4rem !important; 
// }

main {
   
}

body {
    // background: $secondary !important; 
    background: linear-gradient(-45deg,#638192, #536C79, $primary-accent, #292929);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
   
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.light {
    background-color: $secondary; 
    color: $primary; 
}

.button {
    text-decoration: none; 
    outline: 1px solid $accent; 
    background-color: $secondary;
    color: $accent; 
    border: none; 
    cursor: pointer; 
    text-align: center; 
    padding: 0.5rem; 
    border-radius: 0.2rem; 
    transition: 0.2s ease-in-out; 

    &:hover {
        background-color: $accent; 
        color: $secondary; 
        transform: scale(0.98);
    }

    &:focus {
        background-color: $accent; 
        color: $secondary; 
    }
}

.form-button {
    text-decoration: none; 
    outline: 1px solid $accent; 
    background-color: $secondary;
    color: $accent; 
    border: none; 
    cursor: pointer; 
    text-align: center; 
    padding: 0.5rem; 
    border-radius: 0.2rem; 
    transition: 0.2s ease-in-out; 

    &:hover {
        background-color: $primary; 
        color: $secondary; 
        transform: scale(0.98);
    }

    &:focus {
        background-color: $primary; 
        color: $secondary; 
    }
}


// Header CSS
header {
    min-height: 10vh; 
    background: $primary; 
    color: $secondary;
    position: sticky;
    top: 0; 
    z-index: 10; 
}

#logo-wrapper {
    width: 10vw;
    position: relative; 
    margin-left: 1.5rem;
}

// name-logo styling
#first-initial { 
    color: $secondary; 
    position: absolute; 
    left: 1rem; 
}

#first-name {
    opacity: 0; 
    color: $secondary; 
    animation: fadeIn 0.25s 0.25s linear forwards;   
}

#slash {
    color : $secondary; 
    margin-top: 1rem; 
    font-size: 2rem; 
    position: absolute; 
    left: 4rem;

}

#last-initial {
    margin-top: 2rem; 
    color: $warning; 
    position: absolute; 
    left: 5rem;
  
}

#last-name {
   opacity: 0; 
   animation: fadeIn 0.25s 0.25s linear forwards; 
}

#end-bracket {
    color : $warning; 
    margin-top: 2rem; 
    left: 6.2rem;
    position: absolute; 
}

.move-right {
    animation: moveRight 0.25s linear forwards; 
}

.move-left {
    animation: moveLeft 0.25s linear forwards; 
}

@keyframes moveLeft {
    from {
        transform: translateX(0)
    }
    to {
        transform: translateX(-3.5rem); 
    }
}

@keyframes moveRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(3.5rem);
    }
}

// nav bar styling

nav {
    & ul {
        list-style:none; 
    }
}

.nav-link {
    // outline: none !important; 
    border-radius: 0.2rem; 
    color: $secondary; 
    transition: background-color 0.1s linear; 
    &:hover {
        color: $secondary; 
        background-color: rgba($secondary, 0.2);
    }

    &:focus {
        color: $secondary; 
        background-color: rgba($secondary, 0.2); 
    }
}

.selected-nav-link {
    color: $primary !important;
    background: $secondary !important; 
}

.dropdown-container{
    position: relative; 
}

.dropdown {
    position: absolute;
    width: 10rem; 
    left: -10.2rem; 
    top: -1rem;  
    z-index: 10;
    background: $accent; 
    border-radius: 0.2rem; 
}

.dropdown-button {
    text-decoration: none; 
    outline: none;
    background-color: $primary;
    color: $secondary; 
    border: none; 
    cursor: pointer; 
    text-align: center; 
    padding: 0.5rem; 
    border-radius: 0.2rem; 
    transition: 0.2s ease-in-out; 

    &:hover {
        background-color: $secondary; 
        color: $primary; 
    }

    &:focus {
        background-color: $secondary; 
        color: $primary; 
    }
}

// General CSS

#content {
    min-height: 80vh; 
    overflow: hidden; 
}

footer {
    background-color: $primary;
    color: $secondary; 
    min-height: 10vh; 
}


// project styling

#project-section-title {
    transform: translateY(-100vh);
    background-color: $primary;
    color: $secondary; 
    border-radius: 0.2rem; 
    font-size: 3rem; 
    box-shadow: $floating-box-shadow; 
    animation: slideDown 0.3s forwards, fadeIn 0.3s ease-out forwards; 
}

@keyframes slideDown {
    from {
        transform: translateY(-100vh);
    }
    to {
        transform: translateY(0);
    }
}

.project-conditional {
    color: $secondary;
    background-color: $primary;
    border-radius: 0.2rem; 
}

.loader {
    background-color: transparent; 
    border: 2rem solid rgba($warning, 0.2); 
    border-right: 2rem solid $warning; 
    width: 20rem;
    height: 20rem; 
    border-radius: 50%;
    animation: spin 3s linear infinite; 
}
 

@keyframes spin {
    100% {
        transform: rotateZ(720deg);
    }
}

#current-project-tag {
    color: $warning; 
    font-style: italic; 
}

$tag-indexes: 0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15;

@each $tag-index in $tag-indexes {
    .project-tag-#{$tag-index} {
        transform:translateX(200vw);
        animation: slideRight 0.5s 0.1s*($tag-index) linear forwards; 
    }
}

.tag-checkbox {
    background: $secondary; 
    color: $primary; 
    border-radius: 0.2rem; 
    &:hover {
        opacity: 0.8; 
    }
    & input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0; 
        width: 0; 
    }
}

.tag-checkbox-checked {
    background: $warning; 
    color: $primary; 
    border-radius: 0.2rem; 
    &:hover {
        opacity: 0.8; 
    }
    & input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0; 
        width: 0; 
    }
}

// project card styling
#project-container {
 position: relative;
 overflow: hidden; 
}

.projectCard {
    padding: 0 0 !important; 
    // height: 400px; 
    min-height: 50vh; 
    background-color: $primary; 
    // border: 2px solid $secondary; 
    border-radius: 0.2rem; 
    color: $secondary; 
    box-shadow: $floating-box-shadow;
    transition: box-shadow 0.5s ease-in; 
    
    &:hover {
        border: 0px; 
        box-shadow: none; 
    }
   
}

.first-projectCard {
    animation: slideRight 1.5s forwards; 
    visibility: visible !important; 
}

.slide-up {
    animation: slideUp 0.75s forwards; 
}

.slide-left-quick {
    animation: slideLeft 0.75s forwards;
}

.slide-right-quick {
    animation: slideRight 0.75s forwards; 
}

.slide-left {
    animation: slideLeft 1.5s forwards; 
}

.slide-right {
    animation: slideRight 1.5s forwards;
}

.slide-out-left {
    animation: slideOutLeft 1.5s forwards;
}

.slide-out-right {
    animation: slideOutRight 1.5s forwards; 
}

.hidden {
    visibility: hidden; 
}

@keyframes slideUp {
    from {
        transform: translateY(200vh);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideRight {
    from {
        transform: translateX(200vw);
    }
    to {
        transform: translateX(0); 
    }
}

@keyframes slideLeft {
    from {
        transform: translateX(-100vw);
    }
    to {
        transform: translateX(0); 
    }
}

@keyframes slideOutRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(200vw);
    }
}

@keyframes slideOutLeft {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100vw); 
    }
}

.project-info {
    width:100%; 
   
    border-radius: 0.2rem; 
    animation: loadin 0.5s linear forwards; 
}

.load-in {
    visibility: hidden;
    animation: fontLoad 0.5s 0.5s linear forwards; 
}

@keyframes loadin {
    0% {
        height: 0%;
        background-color: #6C8C9D; 
        box-shadow: $floating-box-shadow-red; 
    }

    50% {
        height: 50%;
        background-color: #6C8C9D; 
        box-shadow: $floating-box-shadow-red; 
    }

    100% {
        height: 100%;
        background-color: $accent;
    }
}

@keyframes fontLoad {
    from {
        visibility: visible;
        color: $accent; 
    }
    to {
        visibility: visible;
        color: $secondary; 
    }
}

.project-icon {
    height: 100%;
    width: 100%;  
    animation: fadeIn 0.5s linear forwards; 
}

@keyframes fadeIn { 
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.icon-link {
    color: inherit; 
}

.github-icon, .website-icon {
    fill: currentColor; 
    width: 32px;
    height: 32px; 
    &:hover{
        fill: $primary; 
    }
}

// About me section CSS

#about {
    background-color: transparent;
    color: $primary;
}

$aboutLoadTime: 0.9s;

#about-img {
    max-height: 50vh !important; 
    border-radius: 0.2rem; 
    animation: slideLeft $aboutLoadTime forwards, fadeIn $aboutLoadTime ease-out forwards; 
}

#welcome-statement {
    opacity: 0; 
    animation: fadeIn 0.5s $aboutLoadTime linear forwards; 
}

.about-wrapper {
    margin-top: 1vh; 
}

.about-me-intro {
    opacity: 0; 
    animation: fadeIn 0.5s $aboutLoadTime + .75s linear forwards; 
}

.more-intro {
    opacity: 0; 
    animation: fadeIn 0.5s $aboutLoadTime + 1.5s linear forwards; 
}
.about-info-box {
    background-color: $primary; 
    color: $secondary;
    border-radius: 0.2rem;
    animation: slideRight $aboutLoadTime forwards, fadeIn $aboutLoadTime ease-out forwards; 
}

.about-link-box {
    opacity: 0; 
   animation: fadeIn 0.5s $aboutLoadTime + 2.25s linear forwards; 
}

.about-extra-info {
    opacity: 0; 
    background-color: $primary;
    color: $secondary;
    border-radius: 0.2rem;
    height: 10vh; 
    transition: height 0.5s ease-in-out, background-color 0.5s ease-in-out; 
    animation: slideUp $aboutLoadTime 3s forwards, fadeIn $aboutLoadTime 3s ease-out forwards; 
    &:hover {
        height: 40vh; 
        background-color: $accent;
    }
}

.no-style-list{
    list-style-type:none; 
}

// Contact form CSS

#contact {
    background: $primary;
    color: $secondary;
    border-radius: 0.2rem; 
}

.contact-section {
    margin-top: 1rem; 
    transform: translateX(-100vw);
    animation: slideAndShake 0.5s linear forwards; 
}

@keyframes slideAndShake {
    0% {
        transform: translateX(-100vw);
    }

    20% {
        transform: translateX(20vw)
    }

    40% {
        transform: translateX(-20vw);
    }

    60% {
        transform: translateX(5vw)
    }

    80% {
        transform: translateX(-5vw);
    }

    100% {
        transform: translateX(0);
    }
}

// Contact modal CSS

#contact-form-wrapper {
    overflow: hidden; 
}

#contact-form {
    background: $accent;
    color: $secondary;
    min-height: 40vh; 
    border-radius: 0.2rem; 
    width: 80vw; 
    z-index: 10; 
    left: 10%; 
    position: absolute; 
    animation: fadeIn 0.25s linear forwards, slideIn 0.25s linear forwards; 
    & input, textarea {
        border-radius: 0.2rem;
        color: $primary; 
        background-color: $secondary; 
        border: none; 
        &:focus {
            background-color: rgba($primary, 0.3); 
            color: $secondary; 
            outline: none;
        }
    }
}

#contact-form-backdrop {
    background: rgba($primary, 0.5);
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    right: 0;
    left:0;
    z-index: 1;
    animation: fadeIn 0.25s linear forwards; 
}

@keyframes slideIn {
    from {
        top: -50%;
    }
    to {
        top:20%; 
    }
}

.form-err-msg {
    color: $warning;
    font-weight: bold; 
}



// coffe-cup css

.st0 {
    stroke: $secondary;
    stroke-width: 5; 
}

.filling {
    fill: $accent; 
}

.steam {
    fill: none; 
    stroke: $secondary;
    stroke-width: 10;
    stroke-dasharray: 150;
    stroke-dashoffset: 300;
    animation: steam 3s linear reverse infinite;
}

@keyframes steam {
    to {
        stroke-dashoffset: 0; 
    }
}

#coffee-wrapper {
    display: inline-block; 
    width: 50px;
    height: 50px; 
}

// media-breakpoints

@include media-breakpoint-up(sm) {
    .negative-margin {
        margin-top: 1rem !important; 
    }

    .button {
        font-size: 0.75rem; 
    }

    .contact-section {
        margin-top: 1vh; 
    }

}

@include media-breakpoint-up(md) {
    .negative-margin {
        margin-top: -4rem !important; 
    } 

    #contact-list {
        font-size: 1.5rem !important; 
    }

    #contact-form {
        left: 25% !important;
        width: 50vw !important; 
    }
    .button {
        font-size: 1.25rem; 
    }
    .contact-section {
        margin-top: 5vh;
    }

}

@include media-breakpoint-up(lg) {
    #contact-list {
        font-size: 2rem !important; 
    }

    #contact-form {
        left: 30% !important;
        width: 40vw !important; 
    }
    .contact-section {
        margin-top: 3vh;
    }
 
}

@include media-breakpoint-up(xl) {
    .about-wrapper {
        margin-top: 8vh; 
    }
}