body {
  background: #DDE4E4 !important;
}

.light {
  background-color: #DDE4E4;
  color: #212121;
}

.button {
  text-decoration: none;
  outline: 1px solid #2C3940;
  background-color: #DDE4E4;
  color: #2C3940;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.2rem;
  transition: 0.2s ease-in-out;
}
.button:hover {
  background-color: #2C3940;
  color: #DDE4E4;
  transform: scale(0.95);
}
.button:focus {
  background-color: #2C3940;
  color: #DDE4E4;
}

header {
  height: 10vh;
  background: #212121;
  color: #DDE4E4;
}

nav ul {
  list-style: none;
}

.navBtn {
  text-decoration: none;
  font-size: 1rem;
  border: none;
  background: #DDE4E4;
}

#content {
  min-height: 80vh;
}

footer {
  background-color: #212121;
  color: #DDE4E4;
  min-height: 10vh;
}

.star {
  fill: #212121;
  stroke: #DDE4E4;
}

.star-wrapper {
  z-index: -1;
  position: absolute;
  width: 300px;
  height: 300px;
  -webkit-animation: rotating 10s linear infinite;
          animation: rotating 10s linear infinite;
}

.outter-sbox {
  z-index: -2;
  -webkit-animation: shift 10s linear infinite;
          animation: shift 10s linear infinite;
}

#sw-1 {
  top: 0%;
  left: 0%;
}

#sw-2 {
  top: 20%;
  left: 20%;
}

#sw-3 {
  top: 50%;
  left: 50%;
}

@-webkit-keyframes shift {
  from {
    transform: translateX(-20%);
  }
  to {
    transform: translateX(120%);
  }
}

@keyframes shift {
  from {
    transform: translateX(-20%);
  }
  to {
    transform: translateX(120%);
  }
}
@-webkit-keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#project-section-title {
  background-color: #212121;
  color: #DDE4E4;
  border-radius: 0.2rem;
  width: 25%;
  font-size: 4rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

#project-container {
  position: relative;
  overflow: hidden;
}

.projectCard {
  padding: 0 0 !important;
  min-height: 50vh;
  background-color: #DDE4E4;
  border: 2px solid #212121;
  border-radius: 0.2rem;
  color: #212121;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.5s ease-in;
}
.projectCard:hover {
  border: 0px;
  box-shadow: none;
}

.project-info {
  width: 100%;
  border-radius: 0.2rem;
  -webkit-animation: loadin 0.5s linear forwards;
          animation: loadin 0.5s linear forwards;
}

.load-in {
  visibility: hidden;
  -webkit-animation: fontLoad 0.5s 0.5s linear forwards;
          animation: fontLoad 0.5s 0.5s linear forwards;
}

@-webkit-keyframes loadin {
  0% {
    height: 0%;
    background-color: #6C8C9D;
    box-shadow: 0 0.045rem 1.8px rgba(108, 140, 157, 0.15), 0 0.234rem 5px rgba(108, 140, 157, 0.25), 0 0.56rem 12.1px rgba(108, 140, 157, 0.4), 0 1.875rem 40px rgba(108, 140, 157, 0.3);
  }
  50% {
    height: 50%;
    background-color: #6C8C9D;
    box-shadow: 0 0.045rem 1.8px rgba(108, 140, 157, 0.15), 0 0.234rem 5px rgba(108, 140, 157, 0.25), 0 0.56rem 12.1px rgba(108, 140, 157, 0.4), 0 1.875rem 40px rgba(108, 140, 157, 0.3);
  }
  100% {
    height: 100%;
    background-color: #2C3940;
  }
}

@keyframes loadin {
  0% {
    height: 0%;
    background-color: #6C8C9D;
    box-shadow: 0 0.045rem 1.8px rgba(108, 140, 157, 0.15), 0 0.234rem 5px rgba(108, 140, 157, 0.25), 0 0.56rem 12.1px rgba(108, 140, 157, 0.4), 0 1.875rem 40px rgba(108, 140, 157, 0.3);
  }
  50% {
    height: 50%;
    background-color: #6C8C9D;
    box-shadow: 0 0.045rem 1.8px rgba(108, 140, 157, 0.15), 0 0.234rem 5px rgba(108, 140, 157, 0.25), 0 0.56rem 12.1px rgba(108, 140, 157, 0.4), 0 1.875rem 40px rgba(108, 140, 157, 0.3);
  }
  100% {
    height: 100%;
    background-color: #2C3940;
  }
}
@-webkit-keyframes fontLoad {
  from {
    visibility: visible;
    color: #2C3940;
  }
  to {
    visibility: visible;
    color: #DDE4E4;
  }
}
@keyframes fontLoad {
  from {
    visibility: visible;
    color: #2C3940;
  }
  to {
    visibility: visible;
    color: #DDE4E4;
  }
}
.project-icon {
  height: 100%;
  width: 100%;
  -webkit-animation: fadeIn 0.5s linear forwards;
          animation: fadeIn 0.5s linear forwards;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.icon-link {
  color: inherit;
}

.github-icon, .website-icon {
  fill: currentColor;
  width: 32px;
  height: 32px;
}
.github-icon:hover, .website-icon:hover {
  fill: #212121;
}

#about {
  background-color: #DDE4E4;
  color: #212121;
}

.about-info-box {
  background-color: #212121;
  color: #DDE4E4;
  border-radius: 0.2rem;
  transition: background-color 0.25s ease-in-out;
}

.about-link-box {
  background-color: #212121;
  color: #DDE4E4;
  border-radius: 0.2rem;
}

.about-extra-info {
  background-color: #212121;
  color: #DDE4E4;
  border-radius: 0.2rem;
  height: 10vh;
  width: 100%;
  transition: height 0.5s ease-in-out, background-color 0.5s ease-in-out;
}
.about-extra-info:hover {
  height: 40vh;
  background-color: #2C3940;
}

.no-style-list {
  list-style-type: none;
}

.st0 {
  stroke: #DDE4E4;
  stroke-width: 5;
}

.filling {
  fill: #2C3940;
}

.steam {
  fill: none;
  stroke: #DDE4E4;
  stroke-width: 10;
  stroke-dasharray: 150;
  stroke-dashoffset: 300;
  animation: steam 3s linear reverse infinite;
}

@-webkit-keyframes steam {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes steam {
  to {
    stroke-dashoffset: 0;
  }
}
#coffee-wrapper {
  display: inline-block;
  width: 50px;
  height: 50px;
}/*# sourceMappingURL=style.css.map */