body {
  background: #DDE4E4 !important;
}

.light {
  background-color: #DDE4E4;
  color: #212121;
}

.dropdown {
  position: relative;
}

.dropdown:hover > .dropdown-content {
  display: block;
}

.dropdown-content {
  background-color: #DDE4E4;
  left: -.07rem;
  position: absolute;
  display: none;
  border: 0.5px solid #DDE4E4;
  text-align: left;
  z-index: 1;
  width: 102%;
}

.button {
  text-decoration: none;
  outline: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.2rem;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.button:hover {
  background-color: #2C3940;
  color: #DDE4E4;
}

.button:focus {
  background-color: #2C3940;
  color: #DDE4E4;
}

nav ul {
  list-style: none;
}

nav ul li {
  border: 0.5px solid #DDE4E4;
  border-radius: 0.2rem;
}

#hero-wrapper {
  background-color: #212121;
  color: #DDE4E4;
  -webkit-box-shadow: 0 0.2rem 20px #212121;
          box-shadow: 0 0.2rem 20px #212121;
}

footer {
  background-color: #212121;
  color: white;
  height: 80px;
}

header {
  height: 50px;
}

#content {
  min-height: calc(100vh-130px);
}

.star {
  fill: #212121;
  stroke: #DDE4E4;
}

.star-wrapper {
  z-index: -1;
  position: absolute;
  width: 300px;
  height: 300px;
  -webkit-animation: rotating 10s linear infinite;
          animation: rotating 10s linear infinite;
}

.outter-sbox {
  z-index: -2;
  -webkit-animation: shift 10s linear infinite;
          animation: shift 10s linear infinite;
}

#sw-1 {
  top: 0%;
  left: 0%;
}

#sw-2 {
  top: 20%;
  left: 20%;
}

#sw-3 {
  top: 50%;
  left: 50%;
}

@-webkit-keyframes shift {
  from {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  to {
    -webkit-transform: translateX(120%);
            transform: translateX(120%);
  }
}

@keyframes shift {
  from {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  to {
    -webkit-transform: translateX(120%);
            transform: translateX(120%);
  }
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#project-section-title {
  background-color: #212121;
  color: #DDE4E4;
  border-radius: 0.2rem;
  width: 25%;
  font-size: 4rem;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

#project-container {
  position: relative;
  overflow: hidden;
}

.projectCard {
  padding: 0 0 !important;
  min-height: 50vh;
  background-color: #212121;
  border-radius: 0.2rem;
  color: #DDE4E4;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: -webkit-box-shadow 0.5s ease-in;
  transition: -webkit-box-shadow 0.5s ease-in;
  transition: box-shadow 0.5s ease-in;
  transition: box-shadow 0.5s ease-in, -webkit-box-shadow 0.5s ease-in;
}

.projectCard:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.project-info {
  width: 100%;
  -webkit-box-shadow: 0.045rem 0.045rem 1.8px rgba(44, 57, 64, 0.15), 0.234rem 0.234rem 5px rgba(44, 57, 64, 0.25), 0.56rem 0.56rem 12.1px rgba(44, 57, 64, 0.4), 1.875rem 1.875rem 40px rgba(44, 57, 64, 0.3);
          box-shadow: 0.045rem 0.045rem 1.8px rgba(44, 57, 64, 0.15), 0.234rem 0.234rem 5px rgba(44, 57, 64, 0.25), 0.56rem 0.56rem 12.1px rgba(44, 57, 64, 0.4), 1.875rem 1.875rem 40px rgba(44, 57, 64, 0.3);
  border-radius: 0.2rem;
  -webkit-animation: loadin 0.5s linear forwards;
          animation: loadin 0.5s linear forwards;
}

.load-in {
  visibility: hidden;
  -webkit-animation: fontLoad 0.5s 0.5s linear forwards;
          animation: fontLoad 0.5s 0.5s linear forwards;
}

@-webkit-keyframes loadin {
  from {
    height: 0%;
    background-color: transparent;
  }
  to {
    height: 100%;
    background-color: #2C3940;
  }
}

@keyframes loadin {
  from {
    height: 0%;
    background-color: transparent;
  }
  to {
    height: 100%;
    background-color: #2C3940;
  }
}

@-webkit-keyframes fontLoad {
  from {
    visibility: visible;
    color: #2C3940;
  }
  to {
    visibility: visible;
    color: #DDE4E4;
  }
}

@keyframes fontLoad {
  from {
    visibility: visible;
    color: #2C3940;
  }
  to {
    visibility: visible;
    color: #DDE4E4;
  }
}

.project-icon {
  height: 100%;
  width: 100%;
  -webkit-animation: fadeIn 0.5s linear forwards;
          animation: fadeIn 0.5s linear forwards;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.icon-link {
  color: inherit;
}

.github-icon, .website-icon {
  fill: currentColor;
  width: 32px;
  height: 32px;
}

.github-icon:hover, .website-icon:hover {
  fill: #212121;
}

#about-me-box {
  background: #212121;
  color: #DDE4E4;
  border-radius: 0.2rem;
  position: relative;
  overflow: hidden;
}

#about-me-box::before {
  content: '';
  position: absolute;
  top: -60%;
  left: 0%;
  width: 100px;
  height: 200%;
  background: -webkit-gradient(linear, left top, left bottom, from(#2C3940), color-stop(#212121), to(#2C3940));
  background: linear-gradient(#2C3940, #212121, #2C3940);
  -webkit-animation: spin 4s linear infinite;
          animation: spin 4s linear infinite;
}

#about-me-box p {
  position: relative;
  z-index: 10;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.st0 {
  stroke: #DDE4E4;
  stroke-width: 5;
}

.filling {
  fill: #2C3940;
}

.steam {
  fill: none;
  stroke: #DDE4E4;
  stroke-width: 10;
  stroke-dasharray: 150;
  stroke-dashoffset: 300;
  animation: steam 3s linear reverse infinite;
}

@-webkit-keyframes steam {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes steam {
  to {
    stroke-dashoffset: 0;
  }
}

#coffee-wrapper {
  display: inline-block;
  width: 50px;
  height: 50px;
}
/*# sourceMappingURL=style.css.map */