@import "../node_modules/bootstrap/scss/bootstrap.scss";

$black: #080707; 
$white: #FFFFFF;
$white-accent: #DDE4E4;
$red:  #D93838;

.dropdown{
    position: relative; 
    &:hover > .dropdown-content {
        display: block; 
    }
}

.dropdown-content{
    background-color: $white; 
    left: -.07rem; 
    position: absolute;
    display: none; 
    border: 0.5px solid $white-accent; 
    text-align: left; 
    z-index: 1; 
    width: 102%; 
}

nav {
    & ul {
        list-style:none; 
        
        & li {
            border: 0.5px solid $white-accent; 
            border-radius: 0.2rem; 
        }
    }
}

#hero-wrapper {
    background-color: $black;
    color: $white; 
}

// coffe-cup css

.st0 {
    stroke: $white;
    stroke-width: 5; 
}

.filling {
    fill: $red; 
}

.steam {
    stroke: $white;
    stroke-width: 10;
    stroke-dasharray: 150;
    stroke-dashoffset: 300;
    animation: steam 3s linear reverse infinite;
}

@keyframes steam {
    to {
        stroke-dashoffset: 0; 
    }
}
