@import "../node_modules/bootstrap/scss/bootstrap.scss";

$black: #080707; 
$white: #FFFFFF;
$white-accent: #DDE4E4;
$red:  #D93838;

// utility classes

.light {
    background-color: $white; 
    color: $black; 
}

.dropdown{
    position: relative; 
    &:hover > .dropdown-content {
        display: block; 
    }
}

.dropdown-content{
    background-color: $white; 
    left: -.07rem; 
    position: absolute;
    display: none; 
    border: 0.5px solid $white-accent; 
    text-align: left; 
    z-index: 1; 
    width: 102%; 
}

.button {
    text-decoration: none; 
    outline: none;
    border: none; 
    font-size: 1rem; 
    cursor: pointer; 
    text-align: center; 
    padding: 0.5rem; 
    border-radius: 0.2rem; 
    transition: 0.2s ease-in-out; 
    &:hover {
        background-color: $red; 
        color: $white; 
    }

    &:focus {
        background-color: $red; 
        color: $white; 
    }
}

// styling

nav {
    & ul {
        list-style:none; 
        
        & li {
            border: 0.5px solid $white-accent; 
            border-radius: 0.2rem; 
        }
    }
}

#hero-wrapper {
    background-color: $black;
    color: $white; 
}

footer {
    background-color: $black;
    color: white; 
    height: 80px; 
}

header {
    height: 50px; 
}

#content {
    min-height: calc(100vh-130px); 
}

.star {
    fill: $black;
    stroke: $white;
}

.star-wrapper {
    z-index: -1; 
    position: absolute;
    width: 300px;
    height: 300px; 
    animation: rotating 10s linear infinite; 
}

.outter-sbox {
    animation: shift 10s linear infinite; 
}

#sw-1 {
    top: 0%;
    left: 0%; 
}

#sw-2 {
    top: 20%;
    left: 20%; 
}

#sw-3 {
    top: 50%;
    left: 50%; 
}

@keyframes shift {
    from {
        transform: translateX(-20%);
    }
    to {
        transform: translateX(120%);
    }
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

// project card styling
#project-container {
 position: relative;
 overflow: hidden;  
}

.projectCard {
    height: 200px; 
}

// coffe-cup css

.st0 {
    stroke: $white;
    stroke-width: 5; 
}

.filling {
    fill: $red; 
}

.steam {
    fill: none; 
    stroke: $white;
    stroke-width: 10;
    stroke-dasharray: 150;
    stroke-dashoffset: 300;
    animation: steam 3s linear reverse infinite;
}

@keyframes steam {
    to {
        stroke-dashoffset: 0; 
    }
}

#coffee-wrapper {
    display: inline-block; 
    width: 50px;
    height: 50px; 
}
